[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
superdatabase3000 = {extras = ["dev"],path = "."}

[packages]
superdatabase3000 = {path = "."}

[requires]
python_version = "3.7"
